*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(body.jpg.webp);
}
.navbar{
    height: 80px;
    margin: auto;
    padding: auto;
    background-color: black;
    border-bottom-left-radius:  2rem;
    border-top-right-radius:  2rem;
    outline: 10px inset rgb(254, 254, 254);
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid white;
}
.jst{
    color:snow;
    font-size: 80px;
    font-family: serif;
}
.box1{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inbox1{
    height: 40px;
    width: 210px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius:  1rem;
    border-top-right-radius:  1rem;
    border: 5px solid grey;
}
.wel{
    font-size: 1.6rem;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: black;
}
.box2{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inbox2{
    height: 40px;
    width: 385px;
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom-left-radius:  1rem;
    border-top-right-radius:  1rem;
    border: 5px solid gainsboro;
}
.all{
    font-size: 1.6rem;
    font-family: 'Times New Roman';
    font-weight: bold;
    color:white;
}
.box3{
    height: 400px;
    width: auto;
    background-color: gainsboro;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid black;

}
.shop{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:black;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;

}
.shop:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in;
}
.tags{
    display: flex;
    align-items: center;
    width: auto;
    height: 300px;
    justify-content: space-evenly;
}
.box{
    height: 280px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 50px;
    outline: 10px inset white;
    border-top-right-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    border: 5px solid white;
}
.box:hover{
    border: 5px solid black;
}
.box:active{
    border: 5px solid white;
}
.box4{
    height: 400px;
    width: auto;
    background-color: rgb(45, 43, 43);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid white;
    margin-top: 40px;
}
.ENT{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.ENT:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box5{
    height: 400px;
    width: auto;
    background-color: gainsboro;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid black;
    margin-top: 40px;
}
.FOOD{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:black;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.FOOD:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box6{
    height: 400px;
    width: auto;
    background-color: rgb(45, 43, 43);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid white;
    margin-top: 40px;
}
.Fdeli{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
}
.Fdeli:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box7{
    height: 400px;
    width: auto;
    background-color: gainsboro;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid black;
    margin-top: 40px;
}
.Grocery{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:black;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.Grocery:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box8{
    height: 400px;
    width: auto;
    background-color: rgb(45, 43, 43);;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid white;
    margin-top: 40px;
}
.Cabs{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.Cabs:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box9{
    height: 400px;
    width: auto;
    background-color: gainsboro;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid black;
    margin-top: 40px;
}
.TRVL{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:BLACK;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.TRVL:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box10{
    height: 400px;
    width: auto;
    background-color: rgb(45, 43, 43);;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid white;
    margin-top: 40px;
}
.HOTEL{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.HOTEL:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.box11{
    height: 400px;
    width: auto;
    background-color: gainsboro;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    margin: 30px;
    outline: 10px inset white;
    border: 5px solid black;
    margin-top: 40px;
}
.MED{
    margin-bottom: 25rem;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    color:black;
    text-decoration: overline;
    margin: 20px;
    height: 50px;
    display: inline-flex;
}
.MED:hover{
    font-size: 2.3rem;
    transition: 0.1s ease-in-out;
}
.lstnav{
    height: 80px;
    width: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: inline;
}
.more{
    color: white;
    font-size: 20px;
}
.clk{
    color: white;
}
.clk:hover{
    font-size: 22px;
}
.clk:active{
    font-size: 21px;
}